@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{ var selection = Model.Content.Children.Where("Visible"); }
@if (selection.Any())
{
    foreach (var item in selection)
    {
        <div class="col-md-6">
            <a href="@item.Url" class="thumbnail">
                <img class="img-responsive" src="@Umbraco.TypedMedia(item.GetPropertyValue("image")).Url" alt="@item.Name">
                <h1>@item.GetPropertyValue("heading")</h1>
                @(Umbraco.Truncate(item.GetPropertyValue("mainRTE").ToString(), 150, true))
            </a>
        </div>
     }
}

