@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "master.cshtml";
}
@{Html.RenderPartial("Breadcrumb");}
<div class="row">
    <div class="col-md-4">
        @{  var media = Umbraco.Media(1105);}
        <a href="/">
            <img class="img-responsive" src="@media.Url" alt="@media.Name">
        </a>
    </div>
    <div class="col-md-8">
        <div class="branch-banner">
            <h1 class="branch-banner-heading">@Umbraco.Field("heading")</h1>
            <img class="img-responsive" src="@Umbraco.TypedMedia(Model.Content.GetPropertyValue("image")).Url" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        @{Html.RenderPartial("Navigation Parent");}
        <hr />
        @{Html.RenderPartial("Child Pages");}
    </div>
    <div class="col-md-8">
        <div class="row top-buffer">
           @Umbraco.Field("mainRTE")
        </div>
     </div>        
</div>